.idea
.vscode
db
jsonnetfile.lock.json
/bootstrapper/service/go/pkg/fakedata/bs-all.json
/bootstrapper/service/go/pkg/fakedata/bs-all.yaml
/deploy/bootstrapper/proto/v2/vendor/
/deploy/projects/org-y/vendor/
/deploy/projects/org-y/downloaded/
gcn.log
gcn-client.log
/includes/
.nvimlog
/deploy/templates/maintemplatev2/wrapper/version/
