GCP_PROJECT=?
GCP_USER?

export GCP_PROJECT GCP_USER

MINIO_ACCESSKEY="REPLACE_THIS"
MINIO_SECRETKEY="REPLACE_THIS"
MINIO_LOCATION="REPLACE_THIS"
MINIO_TIMEOUT="REPLACE_THIS"
MINIO_ENCKEY="REPLACE_THIS"
MINIO_SSL=false
MINIO_ENDPOINT="127.0.0.1"

export MINIO_ACCESSKEY MINIO_SECRETKEY MINIO_LOCATION MINIO_TIMEOUT MINIO_ENCKEY MINIO_SSL MINIO_ENDPOINT
