MINIO_ACCESS_KEY=AKIAIOSFODNN7EXAMPLE
MINIO_SECRET_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
MINIO_ENC_KEY=
MINIO_ENDPOINT=127.0.0.1:9000
MINIO_LOCATION=
BUCKET_NAME=main
MINIO_TIMEOUT=8
MINIO_USE_SSL=false
