bin-all
db
config/**
vendor
/certs/
/bses/
/.env
/bses-client/
/bootstrap-data/client/generated
/bootstrap-data/server
/bootstrap-data/client
/assets
/main/server/assets.go
/version.json
/version/manifest.json
/version/version.go
/plain-config/
