[Unit]
Description=Maintemplate v2
Documentation=https://github.com/amplify-cms/shared-doc.git
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/var/www/org-y
Environment=CONFIG_PASSWORD=<PUT_PASSWORD_HERE>
User=nobody
Group=nogroup
ExecStart=/var/www/org-y/bin-all/maintemplatev2 -c /var/www/org-y/config -e /var/www/org-y/encrypted-config
Restart=always
RestartSec=12

[Install]
WantedBy=default.target
